.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-template-rows: 100px 1fr;
}
.firstChart{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}

.phForm{
    grid-column: 3;
    grid-row: 2;
}

.temperatureForm{
    grid-column: 4;
    grid-row: 2;
}