.firstChart{
    background-color: rgb(184, 205, 203);
    border-radius: 8px;
    border: 2px solid rgb(17, 65, 58);
    padding: 1.5rem;
    box-shadow: 5px 5px 5px -2.3px rgb(19, 56, 51);
}

.Semana_1, .Semana_2, .Semana_3, .Semana_4{
    padding: 0.7em;
    padding-top: 1px;
    color: rgb(233, 233, 233);
    border: solid 2px rgb(233, 233, 233);
    border-radius: 6px;
    background-color: rgb(129, 138, 136);
}
#button1{
    padding: 0.5em;
    border: solid thin black;
    border-radius: 6px;
}
body{
    background-color: rgb(114, 126, 124);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    margin: 0.5em;
    width: 50%;
}