.firstChart{
    background-color: rgb(244, 255, 240);
    border-radius: 8px;
    border: 2px solid rgb(17, 65, 58);
    padding: 1.5rem;
    box-shadow: 5px 5px 5px -2.3px rgb(19, 56, 51);
}

.formStyle{
    padding: 0.7em;
    border: solid thin black;
    border-radius: 6px;
    width: 90%;
}
#button1{
    padding: 0.5em;
    border: solid thin black;
    border-radius: 6px;
}