@font-face {
    font-family: 'titleFont';
    src: url('Fonts/Nexa-Heavy.ttf');
}
@font-face {
    font-family: 'textFont';
    src: url('Fonts/Roboto-BoldCondensed.ttf');
}
body{
    background-image: url("Images/Leaf.jpg");
    background-size: 125%;
    background-repeat: repeat-y;
    background-color: #444444;
}
button{
    border:none;
    border-radius: 20px;
    font-family: textFont;
    font-size: medium;
    letter-spacing: 0.4em;
    box-shadow: 10px 10px 0px 0px #7D7D7D;
    background-color: #EDEDED;
    max-width: 80%;
    min-width: none;
    padding-top: 20%;
    padding-bottom: 20%;
}
button:hover{
    background-color: #8dadee;
    transition: 0.2s;
}
button:active{
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 0px 0px #444444;
    transition: 0.1s;
}
.t1{
    font-family: titleFont;
    color: #EDEDED;
    font-size: 55px;
}
.t1Class{
    display: flex;
    justify-content: center;
    align-content:center;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
img{
    width: 45%;
}

@media screen and (max-width: 510px){ /* Tela de Celular */
    
}
@media screen and (max-width: 950px) and (min-width: 510px){ /* Tela de Tablet */
    
}
@media screen and (min-width: 950px){ /* Tela de Desktop */
      
}