@font-face {
    font-family: 'titleFont';
    src: url('../Fonts/Nexa-Heavy.ttf');
}
@font-face {
    font-family: 'textFont';
    src: url('../Fonts/Roboto-BoldCondensed.ttf');
}

body{
    background-image: url("../Images/new.jpg");
    background-color: #121212;
    background-size: 125%;
    background-repeat: repeat-y;
    background-color: #444444;
}
form{
    display: grid;
    grid-template-columns: 1fr 14fr 1fr;
}
.container{
    grid-column: 2;
}
#date{
    font-family: titleFont;
    color: #EDEDED;
    margin-top: 0.01em;
    margin-bottom: 0.5em;
}
.var{
    background-color: #BFBFBF;
    border-radius: 2em;
    padding: 0.6em;
    padding-left: 1.1em;
    margin: 0.2em;
    font-family: textFont;
    font-size: 1.3em;
}
input{
    padding: 0.9em;
    margin-left: 0.9em;
    border-radius: 2em;
    border: none;
}
.enviar
{
    float: right;
    border-radius: 2em;
    width: min-content;
    padding: 0.9em;
    font-family: titleFont;
    font-size: 1.1em;
    border: none;
    box-shadow: 6px 6px 0px 0px #7D7D7D;
}
.enviar:hover, #voltar:hover{
    background-color: #8dadee;
    transition: 0.2s;
}
.enviar:active{
    transform: translate(3px, 3px);
    box-shadow: 3px 3px 0px 0px #444444;
    transition: 0.1s;
}
#voltar{
    margin-top: 1em;
    font-family: titleFont;
    background-color:#EDEDED;
    box-shadow: 4px 4px 0px 0px #7D7D7D;
    width: 2%;
    padding: 0.6%;
}
#voltar:active{
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px 0px #444444;
    transition: 0.1s;
}

@media screen and (max-width: 510px){ /* Tela de Celular */
    #voltar{
        width: 43px;
        margin-bottom: 6%;
    }
}
@media screen and (max-width: 750px) and (min-width: 510px){ /* Tela de Tablet */
    #voltar{
        width: 40px;
        margin-bottom: 3%;
    }
}
@media screen and (min-width: 750px){ /* Tela de Desktop */
    #voltar{
        width: 35px;
    }   
}
